# Model 0.05 - Breeds
 - tbc

In [2]:
import ml_metrics
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from collections import Counter
from sklearn import preprocessing
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold

/home/rich/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [3]:
rnd = 42  # random state for scoring consistency

## Importing the data

In [46]:
df_train = pd.read_csv("../input/train/train.csv", index_col="PetID")
df_test = pd.read_csv("../input/test/test.csv", index_col="PetID")
df_breeds = pd.read_csv("../input/breed_labels.csv", index_col="BreedID")
df_colors = pd.read_csv("../input/color_labels.csv")

In [48]:
colors = df_colors['ColorID']
breeds = df_breeds.index

## Analysing Breeds
 - there is a breed category for mixed breeds
 - test data has 13 unseen breeds
 - 65 breeds are exclusively in training data
 - breeds meta data has 106 breeds unseen by test or training data
 - there are breeds only seen once

### Plan
 - ~~Recreate breeds list, using grouping to group similar breeds (alleviate overfitting)~~ Extract all words from breed(s) name and use each as a feature
 - Only consider breeds present in the test data ✓
 - count of breeds (1 or 2) ✓ _insignificant difference_

In [7]:
# count of distinct training Breeds
print(len(df_train['Breed1'].unique()))
print(len(df_train['Breed2'].unique()))

176
135

In [36]:
# distinct count of all training Breeds
all_train_breeds = df_train['Breed1'].append(df_train['Breed2'])
len(all_train_breeds.unique())

188

In [37]:
# distinct count of all test Breeds
all_test_breeds = df_test['Breed1'].append(df_test['Breed2'])
len(all_test_breeds.unique())

136

In [26]:
# common Breeds between test and training data
len(set(all_train_breeds) & set(all_test_breeds))

123

In [34]:
# breeds only present in training data
train_only_breeds = set(all_train_breeds) - set(all_test_breeds)
len(train_only_breeds)

65

In [32]:
# breeds only present in test data
test_only_breeds = set(all_test_breeds) - set(all_train_breeds)
len(test_only_breeds)

13

In [56]:
# top breeds (training data)
cnt1 = Counter(all_train_breeds.map(df_breeds['BreedName']))
cnt1.most_common(10)

[(nan, 10767),
 ('Mixed Breed', 7654),
 ('Domestic Short Hair', 4233),
 ('Domestic Medium Hair', 1579),
 ('Tabby', 480),
 ('Domestic Long Hair', 421),
 ('Siamese', 369),
 ('Persian', 299),
 ('Labrador Retriever', 291),
 ('Terrier', 253)]

In [59]:
# least common breeds (training data)
cnt1.most_common()[-10:]

[('Dutch Shepherd', 1),
 ('Bluetick Coonhound', 1),
 ('Akbash', 1),
 ('Border Terrier', 1),
 ('Norfolk Terrier', 1),
 ('Afghan Hound', 1),
 ('German Shorthaired Pointer', 1),
 ('Selkirk Rex', 1),
 ('Smooth Fox Terrier', 1),
 ('Harrier', 1)]

In [69]:
# top breeds (test data)
cnt2 = Counter(all_test_breeds.map(df_breeds['BreedName']))
cnt2.most_common(10)

[(nan, 3078),
 ('Mixed Breed', 1604),
 ('Domestic Short Hair', 1236),
 ('Domestic Medium Hair', 428),
 ('Tabby', 189),
 ('Domestic Long Hair', 126),
 ('Persian', 82),
 ('Siamese', 77),
 ('Shih Tzu', 74),
 ('Calico', 57)]

In [60]:
# least common breeds (test data)
cnt2.most_common()[-10:]

[('Chausie', 1),
 ('Devon Rex', 1),
 ('Chinese Foo Dog', 1),
 ('Shepherd', 1),
 ('Great Dane', 1),
 ('Patterdale Terrier (Fell Terrier)', 1),
 ('Eskimo Dog', 1),
 ('French Bulldog', 1),
 ('Turkish Van', 1),
 ('Jack Russell Terrier (Parson Russell Terrier)', 1)]

In [87]:
# Breeds containing "Jack"
df_breeds['BreedName'][df_breeds['BreedName'].str.find("Jack") >= 0]

BreedID
128                             Jack Russell Terrier
129    Jack Russell Terrier (Parson Russell Terrier)
Name: BreedName, dtype: object

In [88]:
# Breeds containing "Terrier"
df_breeds['BreedName'][df_breeds['BreedName'].str.find("Terrier") >= 0]

BreedID
3                                   Airedale Terrier
9                          American Hairless Terrier
10                    American Staffordshire Terrier
17                                Australian Terrier
23                                Bedlington Terrier
33                             Black Russian Terrier
40                                    Border Terrier
42                                    Boston Terrier
49                                      Bull Terrier
51                                     Cairn Terrier
77                             Dandi Dinmont Terrier
98                                       Fox Terrier
108                            Glen of Imaal Terrier
123                                    Irish Terrier
128                             Jack Russell Terrier
129    Jack Russell Terrier (Parson Russell Terrier)
135                               Kerry Blue Terrier
142                                 Lakeland Terrier
148                               Manchester Terrier
159                                  Norfolk Terrier
163                                  Norwich Terrier
168                Patterdale Terrier (Fell Terrier)
173                                 Pit Bull Terrier
185                                      Rat Terrier
197                         Scottish Terrier Scottie
198                                 Sealyham Terrier
207                                    Silky Terrier
208                                     Skye Terrier
210                               Smooth Fox Terrier
214                       Staffordshire Bull Terrier
218                                          Terrier
222                                  Tibetan Terrier
224                                  Toy Fox Terrier
230                                    Welsh Terrier
231               West Highland White Terrier Westie
232                                  Wheaten Terrier
235                                 Wire Fox Terrier
237                               Wirehaired Terrier
240                         Yorkshire Terrier Yorkie
Name: BreedName, dtype: object

In [89]:
# Breeds containing "Shepherd"
df_breeds['BreedName'][df_breeds['BreedName'].str.find("Shepherd") >= 0]

BreedID
12                Anatolian Shepherd
16               Australian Shepherd
24     Belgian Shepherd Dog Sheepdog
25        Belgian Shepherd Laekenois
26         Belgian Shepherd Malinois
27         Belgian Shepherd Tervuren
81                    Dutch Shepherd
87                  English Shepherd
103              German Shepherd Dog
202                         Shepherd
234            White German Shepherd
Name: BreedName, dtype: object

In [77]:
# test data with no breed at all
len(df_test[df_test['Breed1'] == 0])

0

In [79]:
# training data with no breed at all - Breed in Breed2 column
df_train[df_train['Breed1'] == 0]

,Type,Name,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,...,Sterilized,Health,Quantity,Fee,State,RescuerID,VideoAmt,Description,PhotoAmt,AdoptionSpeed
PetID,,,,,,,,,,,,,,,,,,,,,
375905770,1,Lil Milo,2,0,26,2,2,0,0,2,...,2,1,1,0,41326,1a2113010d6048d5410b265347b35c91,0,Milo went missing after a week with her new ad...,3.0,3
da8d4a273,1,Bella 4 Months Puppy!,4,0,307,2,2,3,0,2,...,2,1,1,100,41326,3673e167fc9932b13149bed1f2a0180a,0,"She's only 4 months old, very friendly and lov...",5.0,4
27e74e45c,2,NaN,3,0,266,3,1,4,7,1,...,2,1,3,0,41401,f7cff59d10c867bdee12c3f35f34d086,0,Mama cat came to house and gave birth to these...,11.0,2
7b5bee232,1,"""Boy Boy""",72,0,307,1,1,2,0,2,...,2,1,1,0,41326,94b991f8dc1e0bb903ca8d4d492c8d43,0,He is a stray dog found wandering around Unive...,5.0,4
0327b8e94,1,Looking Newborn Puppy For Adoption,2,0,205,2,2,5,7,1,...,2,1,1,1,41336,5232bdd1444960a257ccec9a41404320,0,I want to adopt a newborn puppy Prefer small b...,0.0,3

In [85]:
# Breed IDs not included in either test or training data
len(df_breeds) - len((all_test_breeds.append(all_train_breeds)).unique())

106

## Functions

In [9]:
def apply_word_flags(df, words):
    """Creates binary columns for words which appear in the description"""
    for word in words:
        df[word] = 0
    for i, desc in df['Description'].items():
        try:
            for word in desc.split():
                word = word.lower()
                if word in words:
                    df.at[i,word] = 1
        except AttributeError:
            continue
    df = df.drop(columns=['Description'])
    return df

In [10]:
keywords = ['home', 'good' , 'adopt', 'loving', 'give', 'looking', 'playful', 'rescued', 'cat', 'contact']

In [11]:
def apply_color_flags(df, colors):
    """Combines Colors 1,2 & 3 into binary columns for each possible colours"""
    for c in colors:
        df[f'C{c}'] = 0
    for i,colors in df[['Color1', 'Color2', 'Color3']].iterrows():
        for c in colors:
            if c != 0:
                df.at[i,f'C{c}'] = 1
    df = df.drop(columns=['Color1', 'Color2', 'Color3'])
    return df

In [120]:
def apply_breed_flags(df, breeds):
    """Combines Breeds 1 & 2 into binary columns for each possible breed"""
    for b in breeds:
        df[f'B{b}'] = 0
    for i,pair in df[['Breed1', 'Breed2']].iterrows():
        for b in pair:
            if b in breeds:
                df.at[i,f'B{b}'] = 1
    return df

In [134]:
df_combined = pd.concat([df_test, df_train], sort=False)

,Type,Name,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,...,Health,Quantity,Fee,State,RescuerID,VideoAmt,Description,PhotoAmt,AdoptionSpeed,BreedCount
PetID,,,,,,,,,,,,,,,,,,,,,
378fcc4fc,1,Puppy,2,307,0,1,1,0,0,2,...,1,1,150,41326,4475f31553f0170229455e3c5645644f,0,"Puppy is calm for a young dog, but he becomes ...",3.0,NaN,1
73c10e136,2,London,24,266,0,1,2,7,0,2,...,1,1,0,41326,4475f31553f0170229455e3c5645644f,0,Urgently seeking adoption. Please contact for ...,1.0,NaN,1
72000c4c5,2,Snowball,20,266,0,2,7,0,0,2,...,1,1,150,41326,4475f31553f0170229455e3c5645644f,0,Snowball... doesn't look so good (she is healt...,1.0,NaN,1
e147a4b9f,2,Malibu,5,266,252,2,1,6,7,2,...,1,1,100,41326,4475f31553f0170229455e3c5645644f,0,"Malibu: Female, Local Mix, 4-5 months, vaccina...",1.0,NaN,2
43fbba852,1,Lala Girl,6,307,0,2,1,2,7,2,...,1,1,150,41326,4475f31553f0170229455e3c5645644f,0,LALA! That's my name. I'm a 6 month old girl d...,1.0,NaN,1
77a490ec9,1,Tipo,12,307,75,2,1,7,0,1,...,1,1,0,41326,4475f31553f0170229455e3c5645644f,0,This lovely girl just want to be loved. She's ...,2.0,NaN,2
28c4b1b13,2,Emma,24,266,0,2,6,7,0,2,...,1,1,100,41326,4475f31553f0170229455e3c5645644f,0,"Emma: Female, Local Mix, 2-3 years old, vaccin...",1.0,NaN,1
d1eada628,1,Bryani,12,307,0,1,3,7,0,2,...,1,1,0,41326,4475f31553f0170229455e3c5645644f,0,"I’m a very loyal dog, I love to be with other ...",2.0,NaN,1
d134dec34,2,Shay,12,266,0,2,2,7,0,1,...,1,1,0,41326,4475f31553f0170229455e3c5645644f,0,Urgently seeking adoption. Please contact for ...,1.0,NaN,1
bcd464bb8,1,Rusty,3,218,307,1,2,7,0,3,...,1,1,200,41326,4475f31553f0170229455e3c5645644f,0,Rusty is a Terrier Mix and despite being just ...,2.0,NaN,2
4e21958c3,1,Mullet,24,307,0,1,1,2,7,2,...,1,1,250,41326,4475f31553f0170229455e3c5645644f,0,"Despite only having had a minor skin problem, ...",1.0,NaN,1
7b070aed6,2,Enjy,15,265,0,1,1,0,0,1,...,1,1,0,41326,4475f31553f0170229455e3c5645644f,0,Enjy is very funny and loves play with people....,2.0,NaN,1
ff8d0708f,1,Johnny,24,307,0,1,2,7,0,2,...,1,1,0,41326,4475f31553f0170229455e3c5645644f,0,Friendly and obedient. Urgently seeking adopti...,1.0,NaN,1
f1e6c9bf3,1,Geena,24,213,0,2,5,7,0,2,...,1,1,0,41326,4475f31553f0170229455e3c5645644f,0,Gentle and loving. Urgently seeking adoption P...,1.0,NaN,1
248914c05,1,Senbei,5,307,0,2,2,5,7,2,...,1,1,150,41326,4475f31553f0170229455e3c5645644f,0,Senbei is an adorable pup! She was rescued and...,1.0,NaN,1
948002885,1,Lukan,12,307,0,1,5,0,0,2,...,1,1,150,41326,4475f31553f0170229455e3c5645644f,0,Lukan is a little bit timid especially in a la...,1.0,NaN,1
111e67cd2,2,Nova,4,266,0,2,6,7,0,2,...,1,1,100,41326,4475f31553f0170229455e3c5645644f,0,"Nova is a playful girl, and can spend hours pl...",1.0,NaN,1
4f4b2ede1,1,Candy,24,307,0,2,5,7,0,2,...,1,1,0,41326,4475f31553f0170229455e3c5645644f,0,Mix Jack Russell This lovely dog is very nice ...,1.0,NaN,1
d77fca061,2,Smiley,6,264,0,2,4,7,0,1,...,1,1,150,41326,4475f31553f0170229455e3c5645644f,0,Smiley is a very happy and cheerful young cat....,1.0,NaN,1
ac9fb74b9,1,Otta,7,307,0,2,1,2,0,2,...,1,1,150,41326,4475f31553f0170229455e3c5645644f,0,Otta and her brother Oscar are from a batch of...,1.0,NaN,1
47ef39e7a,1,Cutie,5,213,307,2,2,0,0,1,...,1,1,0,41326,4475f31553f0170229455e3c5645644f,0,"I'm very shy, but I can be sweet once I trust ...",1.0,NaN,2
c69ee9807,1,Lala,3,20,307,2,2,7,0,1,...,1,1,150,41326,4475f31553f0170229455e3c5645644f,0,Lala is a Beagle mix and is very sweet and cut...,2.0,NaN,2
62dcf8ecb,1,Melissa,36,213,212,2,2,7,0,2,...,1,1,200,41326,4475f31553f0170229455e3c5645644f,0,Call for details of this dog.,1.0,NaN,2
4df1d19d6,1,Candy (SPCA),36,307,0,2,7,0,0,2,...,1,1,0,41326,4475f31553f0170229455e3c5645644f,0,Candy's the inquisitive sort- always being led...,1.0,NaN,1
e8ef8455e,1,Gambit,36,307,0,2,5,7,0,2,...,1,1,0,41326,4475f31553f0170229455e3c5645644f,0,Lovely and gentle girl. Urgently seeking adopt...,2.0,NaN,1
cbd23bc17,1,Oreo,1,307,0,1,1,7,0,2,...,1,1,150,41326,4475f31553f0170229455e3c5645644f,0,Oreo just arrived at the shelter. Character is...,1.0,NaN,1
4d1a91ccf,1,John,2,307,0,1,2,3,0,2,...,1,1,150,41326,4475f31553f0170229455e3c5645644f,0,John is shy but very playful. He is the only o...,2.0,NaN,1
004ee5cf7,1,Sugar (SPCA),36,307,0,2,7,0,0,2,...,1,1,0,41326,4475f31553f0170229455e3c5645644f,0,Sugar is the confident sort- you can tell just...,1.0,NaN,1
95fad0a75,2,Pibi,8,266,0,1,1,6,7,1,...,1,1,0,41326,4475f31553f0170229455e3c5645644f,0,Very independent and active cat Pibi love bein...,2.0,NaN,1
64341b5db,1,Jane,8,307,0,2,5,0,0,2,...,1,1,150,41326,4475f31553f0170229455e3c5645644f,0,Hello! My name is Jane. I’ve been at for quite...,1.0,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3b3b37546,2,Boceyyy,6,276,0,1,1,0,0,2,...,1,1,50,41326,966c41ae3a2427fd7882e899525f8b4e,0,"Pls adopt this cat, mix maincoone, so active.....",2.0,1.0,1
36e02d379,2,Panbe,36,265,0,1,6,7,0,2,...,1,1,0,41401,fbd0f7634f117795c5b9e8315f439015,0,"He's lovely, calm, friendly, quiet, sweet, int...",5.0,4.0,1
9ca247f84,2,Manis,2,266,0,2,1,0,0,1,...,2,1,0,41401,5f8e74e78344c71b197f65e66c0f364b,0,Very sweet (hence the name) and curious about ...,0.0,1.0,1
8dc7b3ffa,2,Belang,1,265,0,1,1,2,0,1,...,1,1,0,41326,66044942690776d858708bfc7c166078,1,stray kitten together with 4 other siblings. n...,1.0,2.0,1
fddd6ef11,2,Doremon,24,265,0,2,2,4,0,1,...,1,1,0,41326,8cd39d5ad272972c91cc61f4bde61ef7,0,"Doremon is a very LOVING, HEALTHY, PLAYFUL AND...",1.0,1.0,1
e50d881a7,2,Sentul Kittiens,2,266,0,3,3,7,0,2,...,1,2,30,41326,4d2400be2e2e78265f5c84345b7a3415,0,Can anyone give these cute kittens a loving an...,2.0,4.0,1
a237fba21,2,Tommie,10,266,0,1,1,7,0,2,...,1,1,0,41326,eaad8f97dc1db8c0fb22110c79e3738a,0,Found this cat near my office few months ago w...,3.0,4.0,1
82ee2f3e9,1,KL Puppies For Adoption,2,307,0,2,2,5,0,2,...,1,2,0,41401,aab827a9ea617772101d6a7610a46faa,0,One stray dog came to my house and gave birth ...,3.0,3.0,1
0deeed2d9,2,Omari,5,265,0,1,3,7,0,3,...,1,1,0,41332,37abe885a6f7048218164ec420e8e2c2,0,Omari is a well behaved house cat with soft fl...,1.0,3.0,1
b3101cf5c,2,Kofi (annan),2,266,0,1,6,0,0,2,...,1,1,0,41401,ee2747ce26468ec44c7194e7d1d9dad9,0,"kofi's clever, cute, and compact.As a testamen...",3.0,1.0,1
941880ea3,1,Zee4,2,307,307,2,2,7,0,2,...,1,1,0,41326,b53c34474d9e24574bcec6a3d3306a0d,0,For Adoption,5.0,2.0,2
c4bc89962,1,Ang Ang,2,307,0,1,1,2,7,2,...,1,1,0,41326,d354f29091eed622077faaa0915b1c41,0,It is my home away dogs born. Dog mother to ta...,6.0,2.0,1
c7d02bfca,1,Wormmy,24,307,0,2,2,7,0,2,...,1,1,0,41327,fd970cc91d06d82eebf046340137b272,0,She was hand raise since she was 2 days old. S...,3.0,4.0,1
98ae7d88d,2,Cici N Shelly,84,264,264,3,1,7,0,2,...,1,2,50,41326,a9213c8947a57403d0ad1df5d3bee5ad,0,hey there 2 ekor kucing yang sudah lama dibela...,3.0,3.0,2
472e86a83,2,Kimchi,3,254,0,2,1,2,7,1,...,1,1,0,41326,5f86038e50ce0def545e64f9a06ab5e2,0,"Very friendly, close to human, could be good f...",2.0,4.0,1
ac6d69d99,1,Ethio,4,307,0,2,2,0,0,2,...,1,1,0,41401,c00756f2bdd8fa88fc9f07a8309f7d5d,0,These puppies were rescued from factory area.....,5.0,4.0,1
b7fcfa1e6,1,SambaBoy,6,307,0,1,1,7,0,2,...,1,1,0,41326,8b6c5cd067ada5f54ca5ffc7f7b5d896,0,SambaBoy makes a good companion dog. Needs lov...,5.0,4.0,1
fc601e041,1,Bella,24,307,307,2,2,0,0,3,...,1,1,0,41326,42fa36434aabf0e23fe579cdf84daf4a,0,I found her by the side of the road and too he...,1.0,4.0,2
23874f644,1,Patch,8,307,0,2,2,7,0,2,...,1,1,0,41326,001e42763024f9d4abe31e79472b1827,0,Patch is for free adoption. If you want to ado...,2.0,3.0,1
54b6c1d72,2,âªMami's Babies âª,2,266,0,2,1,4,7,2,...,1,3,0,41336,d73b10f170720b7edc3c12fc93b1fc63,0,Homeless souls awaiting for a good home..We do...,16.0,3.0,1
cca88204d,1,Alger,3,307,0,1,1,2,7,2,...,1,1,0,41326,fa90fa5b1ee11c86938398b60abc32cb,0,He is very intelligent and cute. Fluffy and lo...,7.0,2.0,1
f5dc70d35,1,NaN,60,307,0,2,2,5,0,2,...,1,1,0,41324,c8ea0bc42e630c72747986c4c0ce36aa,0,"abandoned,but healthy",1.0,4.0,1
e7f7066b6,1,Terry,24,179,307,1,2,3,7,2,...,1,1,0,41326,719987dce7aeb027fdfa91b480800199,0,been at my place for a while..am hoping to fin...,0.0,4.0,2
36e7f8d83,2,Pets + Strays : BlueEyed BlackWhite,1,266,0,2,5,6,7,2,...,1,1,0,41401,90569c3f7cb0af35cba5dac82c0ac9d7,0,1 month old white + grey kitten for adoption n...,1.0,3.0,1
4d163b731,1,Snowy,6,195,0,2,1,7,0,1,...,1,1,0,41401,79309f4027f2fedb4349a298c69fe56f,0,ooooo,1.0,0.0,1
dc0935a84,2,NaN,2,266,0,3,1,0,0,2,...,1,4,0,41326,61c84bd7bcb6fb31d2d480b1bcf9682e,0,I have 4 kittens that need to be adopt urgentl...,3.0,2.0,1
a01ab5b30,2,Serato & Eddie,60,265,264,3,1,4,7,2,...,1,2,0,41326,1d5096c4a5e159a3b750c5cfcf6ceabf,0,Serato(female cat- 3 color) is 4 years old and...,3.0,4.0,2
d981b6395,2,Monkies,2,265,266,3,5,6,7,3,...,1,5,30,41326,6f40a7acfad5cc0bb3e44591ea446c05,0,"Mix breed, good temperament kittens. Love huma...",5.0,3.0,2
e4da1c9e4,2,Ms Daym,9,266,0,2,4,7,0,1,...,1,1,0,41336,c311c0c569245baa147d91fa4e351ae4,0,she is very shy..adventures and independent..s...,3.0,4.0,1
a83d95ead,1,Fili,1,307,307,1,2,0,0,2,...,1,1,0,41332,9ed1d5493d223eaa5024c1a031dbc9c2,0,Fili just loves laying around and also loves b...,1.0,3.0,2

## Preparing training data

In [135]:
# Combine test and training data
df_combined = pd.concat([df_test, df_train], sort=False)
df_combined['test'] = df_combined['AdoptionSpeed'].isna()

# Rescuer
rescue_map = Counter(df_combined['RescuerID'])
rescuer_counts = df_combined['RescuerID'].map(rescue_map)

# Breed
test_breeds = df_test['Breed1'].append(df_test['Breed2']).unique()
breed1_flag = (df_combined['Breed1'] > 0).astype(int)
breed2_flag = (df_combined['Breed2'] > 0).astype(int)
breed_count = breed1_flag + breed2_flag

# Prepare data for modelling 
df_combined['rescuer_counts'] = rescuer_counts
df_combined['BreedCount']  = breed_count
df_combined = apply_word_flags(df_combined, keywords)
df_combined = apply_color_flags(df_combined, colors)
df_combined = apply_breed_flags(df_combined, test_breeds)
df_combined = pd.get_dummies(df_combined, columns=['Gender',
                                                   'Vaccinated', 'Dewormed', 'Sterilized', 
                                                   'State'])
y_train_all = df_combined['AdoptionSpeed'][df_combined['test'] != 1]
X_all       = df_combined.drop(columns=['Name', 'RescuerID', 'AdoptionSpeed'])
X_train_all = X_all[X_all['test'] != 1].drop(columns=['test'])
X_test_all  = X_all[X_all['test'] == 1].drop(columns=['test'])

## Test Random Forest model

In [136]:
scores = []

folds = KFold(10, True, rnd).split(X_train_all)

for train_indx, test_indx in folds:
    
    X_train, X_test = X_train_all.iloc[train_indx], X_train_all.iloc[test_indx]
    y_train, y_test = y_train_all.iloc[train_indx], y_train_all.iloc[test_indx]
    
    rfc = RandomForestClassifier(n_estimators=200, random_state=rnd)
    rfc.fit(X_train, y_train)
    prediction = rfc.predict(X_test)
    scores.append(ml_metrics.quadratic_weighted_kappa(rater_a=y_test, rater_b=prediction))
    print(scores[-1])

0.40444256200291784
0.4247129156006203
0.374896010738235
0.37968963170365055
0.3753216086157689
0.39675426181083506
0.3792808515784073
0.3969110913470977
0.36032518128392177
0.3710868093027614

In [137]:
# 0.381 
# only considering breeds from test data --> 0.340
# correction to breeds function          --> 0.386 (LB increase)
# added count of breed                   --> 0.386 (insignificant difference)
np.mean(scores)

0.38634209239842154

# Submitting test data

In [16]:
rfc = RandomForestClassifier(n_estimators=200, random_state=rnd)
rfc.fit(X_train_all, y_train_all)
prediction = rfc.predict(X_test_all)

In [17]:
submission = pd.DataFrame({'AdoptionSpeed': prediction.astype(int)}, index=X_test_all.index)
submission.to_csv("submission.csv", index=True, index_label='PetID', header=['AdoptionSpeed'])